src/resources/schemata/diagram_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:m="http://www.mff.cuni.cz/~peckam/java/origamist/diagram/v2"
	xmlns:c="http://www.mff.cuni.cz/~peckam/java/origamist/common/v1" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:pli="http://jaxb.dev.java.net/plugin/listener-injector"
	jxb:extensionBindingPrefixes="pli"
	jxb:version="2.0" targetNamespace="http://www.mff.cuni.cz/~peckam/java/origamist/diagram/v2">

	<import namespace="http://www.mff.cuni.cz/~peckam/java/origamist/common/v1" schemaLocation="common_v1.xsd" />

	<annotation>
		<appinfo>
			<jxb:schemaBindings>
				<jxb:package name="cz.cuni.mff.peckam.java.origamist.model.jaxb" />
			</jxb:schemaBindings>
		</appinfo>
	</annotation>

	<element name="origami" type="m:Origami">
	</element>

	<complexType name="Origami">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.Origami" />
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<sequence>
			<element name="author" type="c:Author" />
			<element name="name" type="c:LangString" maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<appinfo>
						<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
					</appinfo>
				</annotation>
			</element>
			<element name="year" type="gYear" />
			<element name="shortdesc" type="c:LangString" maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<appinfo>
						<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
					</appinfo>
				</annotation>
			</element>
			<element name="description" type="c:LangString" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<appinfo>
						<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
					</appinfo>
				</annotation>
			</element>
			<element name="license" type="c:License" />
			<element name="original" type="anyURI" maxOccurs="1" minOccurs="0" />
			<element name="thumbnail" type="c:Image" />

			<element name="paper" type="m:DiagramPaper" />
			<element name="model" type="m:Model" />
		</sequence>
	</complexType>

	<complexType name="Paper" abstract="true">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.Paper" />
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<sequence>
			<element name="size" type="m:UnitDimension" />
		</sequence>
	</complexType>

	<complexType name="DiagramPaper">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.DiagramPaper" />
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:Paper">
				<sequence>
					<element name="color" type="m:DiagramColors" />
					<element name="cols" type="positiveInteger" />
					<element name="rows" type="positiveInteger" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Model">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.Model" />
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<sequence>
			<element name="paper" type="m:ModelPaper" />
			<element name="steps" type="m:Steps">
				<unique name="id">
					<selector xpath="step" />
					<field xpath="@id" />
				</unique>
			</element>
		</sequence>
	</complexType>

	<complexType name="UnitDimension">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.UnitDimension" />
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:Dimension">
				<sequence>
					<element name="unit" type="m:Unit" />
					<sequence minOccurs="0">
						<element name="referenceLength" type="double" />
						<element name="referenceUnit" type="m:Unit" />
					</sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Colors" abstract="true" />

	<complexType name="Dimension">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.DoubleDimension" />
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<sequence> 
			<element name="width" type="double" />
			<element name="height" type="double" />
		</sequence>
	</complexType>

	<simpleType name="Unit">
		<restriction base="string">
			<enumeration value="mm" />
			<enumeration value="cm" />
			<enumeration value="m" />
			<enumeration value="km" />
			<enumeration value="inch" />
			<enumeration value="foot" />
			<enumeration value="mile" />
			<enumeration value="rel" />
		</restriction>
	</simpleType>

	<simpleType name="Color">
		<annotation>
			<appinfo>
				<jxb:javaType name="java.awt.Color" parseMethod="cz.cuni.mff.peckam.java.origamist.utils.ColorConverter.parse"
					printMethod="cz.cuni.mff.peckam.java.origamist.utils.ColorConverter.print" />
			</appinfo>
		</annotation>
		<restriction base="string">
			<pattern value="#[A-Fa-f0-9]{6}" />
		</restriction>
	</simpleType>

	<complexType name="DiagramColors">
		<annotation>
			<appinfo>
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:Colors">
				<sequence>
					<element name="background" type="m:Color" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ModelPaper">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.ModelPaper" />
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:Paper">
				<sequence>
					<element name="colors" type="m:ModelColors" />
					<element name="weight" type="double" />
					<element name="note" type="c:LangString" maxOccurs="unbounded" minOccurs="1">
						<annotation>
							<appinfo>
								<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Steps">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.Steps" />
			</appinfo>
		</annotation>
		<sequence>
			<element name="step" type="m:Step" maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<appinfo>
						<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ModelColors">
		<annotation>
			<appinfo>
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:Colors">
				<sequence>
					<element name="background" type="m:Color" />
					<element name="foreground" type="m:Color" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Step">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.Step" />
				<pli:listener>java.beans.PropertyChangeListener</pli:listener>
			</appinfo>
		</annotation>
		<sequence>
			<element name="description" type="c:LangString" maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<appinfo>
						<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
					</appinfo>
				</annotation>
			</element>
			<element name="colspan" type="positiveInteger" default="1" maxOccurs="1" minOccurs="0" />
			<element name="rowspan" type="positiveInteger" default="1" maxOccurs="1" minOccurs="0" />
			<element name="zoom" type="m:Percent" maxOccurs="1" minOccurs="0" default="100" />
			<choice> 
				<element name="image" type="c:BinaryImage" />
				<sequence minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<appinfo>
							<jxb:property name="operations"
								collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
						</appinfo>
					</annotation>
					<choice>
						<element name="foldOperation" type="m:FoldOperation" />
						<element name="foldUnfoldOperation" type="m:FoldUnfoldOperation" />
						<element name="rotateOperation" type="m:RotateOperation" />
						<element name="turnOverOperation" type="m:TurnOverOperation" />
						<element name="reverseFoldOperation" type="m:ReverseFoldOperation" />
						<element name="thunderboltFoldOperation" type="m:ThunderboltFoldOperation" />
						<element name="crimpFoldOperation" type="m:CrimpFoldOperation" />
						<element name="markerOpertaion" type="m:MarkerOperation" />
					</choice>
				</sequence>
			</choice>
		</sequence>
		<attribute name="id" type="int" use="required" />
	</complexType>

	<simpleType name="Percent">
		<restriction base="double">
			<minInclusive value="1.0" />
		</restriction>
	</simpleType>

	<complexType name="Operation" abstract="true">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.Operation" />
			</appinfo>
		</annotation>
		<attribute name="type" type="m:Operations" use="optional" default="UNDEFINED" />
	</complexType>

	<complexType name="FoldOperationBase" abstract="true">
		<complexContent>
			<restriction base="m:Operation">
				<attribute name="type" type="m:FoldOperations" use="required" />
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="FoldOperation" final="#all">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.FoldOperation" />
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:FoldOperationBase">
				<sequence>
					<group ref="m:angle" />
					<group ref="m:line" />
					<group ref="m:refPoint" minOccurs="0" />
					<group ref="m:layerList" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FoldUnfoldOperationBase" abstract="true">
		<complexContent>
			<restriction base="m:Operation">
				<attribute name="type" type="m:FoldUnfoldOperations" use="required" />
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="FoldUnfoldOperation" final="#all">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.FoldUnfoldOperation" />
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:FoldUnfoldOperationBase">
				<sequence>
					<group ref="m:line" />
					<group ref="m:refPoint" minOccurs="0" />
					<group ref="m:layerList" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RotateOperationBase" abstract="true">
		<complexContent>
			<restriction base="m:Operation">
				<attribute name="type" type="m:RotateOperations" fixed="ROTATE" />
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="RotateOperation" final="#all">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.RotateOperation" />
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:RotateOperationBase">
				<sequence>
					<group ref="m:angle" />
					<group ref="m:refPoint" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TurnOverOperationBase" abstract="true">
		<complexContent>
			<restriction base="m:Operation">
				<attribute name="type" type="m:TurnOverOperations" fixed="TURN_OVER" />
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="TurnOverOperation" final="#all">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.TurnOverOperation" />
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:TurnOverOperationBase">
				<!-- empty -->
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReverseFoldOperationBase" abstract="true">
		<complexContent>
			<restriction base="m:Operation">
				<attribute name="type" type="m:ReverseFoldOperations" use="required" />
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="ReverseFoldOperation" final="#all">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.ReverseFoldOperation" />
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:ReverseFoldOperationBase">
				<sequence>
					<group ref="m:line" />
					<group ref="m:refLine" />
					<group ref="m:layerList" />
					<sequence minOccurs="0">
						<element type="m:Line2D" name="oppositeLine" />
						<element name="oppositeLayer" type="int" maxOccurs="unbounded">
							<annotation>
								<appinfo>
									<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
								</appinfo>
							</annotation>
						</element>
					</sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="ThunderboltFoldOperationBase" abstract="true">
		<complexContent>
			<restriction base="m:Operation">
				<attribute name="type" type="m:ThunderboltOperations" fixed="THUNDERBOLT_FOLD" use="required" />
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="ThunderboltFoldOperation" final="#all">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.ThunderboltFoldOperation" />
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:ThunderboltFoldOperationBase">
				<sequence>
					<group ref="m:angle" />
					<group ref="m:line" />
					<group ref="m:refPoint" minOccurs="0" />
					<group ref="m:layerList" />
					<group ref="m:secondAngle" minOccurs="0" />
					<group ref="m:secondLine" />
					<group ref="m:secondLayerList" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="CrimpFoldOperationBase" abstract="true">
		<complexContent>
			<restriction base="m:Operation">
				<attribute name="type" type="m:CrimpFoldOperations" use="required" />
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="CrimpFoldOperation" final="#all">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.CrimpFoldOperation" />
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:CrimpFoldOperationBase">
				<sequence>
					<group ref="m:line" />
					<group ref="m:refLine" />
					<group ref="m:layerList" />
					<sequence minOccurs="0">
						<element type="m:Line2D" name="oppositeLine" />
						<element name="oppositeLayer" type="int" maxOccurs="unbounded">
							<annotation>
								<appinfo>
									<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
								</appinfo>
							</annotation>
						</element>
					</sequence>
					<group ref="m:secondLine" />
					<group ref="m:secondLayerList" />
					<sequence minOccurs="0">
						<element type="m:Line2D" name="secondOppositeLine" />
						<element name="secondOppositeLayer" type="int" maxOccurs="unbounded">
							<annotation>
								<appinfo>
									<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
								</appinfo>
							</annotation>
						</element>
					</sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="MarkerOperationBase" abstract="true">
		<complexContent>
			<restriction base="m:Operation">
				<attribute name="type" type="m:MarkerOperations" fixed="MARKER" />
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="MarkerOperation" final="#all">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.MarkerOperation" />
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="m:MarkerOperationBase">
				<sequence>
					<element name="text" type="string" />
					<group ref="m:refPoint" />
					<element name="stepsToHide" type="positiveInteger" default="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<group name="layerList">
		<sequence>
			<element name="layer" type="int" maxOccurs="unbounded">
				<annotation>
					<appinfo>
						<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</group>
	
	<group name="secondLayerList">
		<sequence>
			<element name="secondLayer" type="int" maxOccurs="unbounded">
				<annotation>
					<appinfo>
						<jxb:property collectionType="cz.cuni.mff.peckam.java.origamist.utils.ObservableList" />
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</group>

	<group name="angle">
		<sequence>
			<element name="angle" type="double" />
		</sequence>
	</group>

	<group name="line">
		<sequence>
			<element name="line" type="m:Line2D" />
		</sequence>
	</group>

	<group name="refPoint">
		<sequence>
			<element name="refPoint" type="m:Point2D" />
		</sequence>
	</group>

	<group name="refLine">
		<sequence>
			<element name="refLine" type="m:Line2D" />
		</sequence>
	</group>
	
	<group name="secondAngle">
		<sequence>
			<element name="secondAngle" type="double" />
		</sequence>
	</group>

	<group name="secondLine">
		<sequence>
			<element name="secondLine" type="m:Line2D" />
		</sequence>
	</group>

	<group name="secondRefPoint">
		<sequence>
			<element name="secondRefPoint" type="m:Point2D" />
		</sequence>
	</group>

	<simpleType name="Operations">
		<restriction base="string">
			<enumeration value="UNDEFINED" />
			<enumeration value="VALLEY_FOLD" />
			<enumeration value="MOUNTAIN_FOLD" />
			<enumeration value="MOUNTAIN_VALLEY_FOLD_UNFOLD" />
			<enumeration value="VALLEY_MOUNTAIN_FOLD_UNFOLD" />
			<enumeration value="THUNDERBOLT_FOLD" />
			<enumeration value="TURN_OVER" />
			<enumeration value="ROTATE" />
			<enumeration value="PULL" />
			<enumeration value="INSIDE_CRIMP_FOLD" />
			<enumeration value="OUTSIDE_CRIMP_FOLD" />
			<enumeration value="OPEN" />
			<enumeration value="INSIDE_REVERSE_FOLD" />
			<enumeration value="OUTSIDE_REVERSE_FOLD" />
			<enumeration value="MARKER"/>
			<enumeration value="REPEAT_ACTION" />
			<enumeration value="RABBIT_FOLD" />
			<enumeration value="SQUASH_FOLD" />
		</restriction>
	</simpleType>

	<simpleType name="FoldOperations">
		<restriction base="m:Operations">
			<enumeration value="VALLEY_FOLD" />
			<enumeration value="MOUNTAIN_FOLD" />
		</restriction>
	</simpleType>

	<simpleType name="FoldUnfoldOperations">
		<restriction base="m:Operations">
			<enumeration value="MOUNTAIN_VALLEY_FOLD_UNFOLD" />
			<enumeration value="VALLEY_MOUNTAIN_FOLD_UNFOLD" />
		</restriction>
	</simpleType>

	<simpleType name="ReverseFoldOperations">
		<restriction base="m:Operations">
			<enumeration value="INSIDE_REVERSE_FOLD" />
			<enumeration value="OUTSIDE_REVERSE_FOLD" />
		</restriction>
	</simpleType>

	<simpleType name="RotateOperations">
		<restriction base="m:Operations">
			<enumeration value="ROTATE" />
		</restriction>
	</simpleType>

	<simpleType name="TurnOverOperations">
		<restriction base="m:Operations">
			<enumeration value="TURN_OVER" />
		</restriction>
	</simpleType>

	<simpleType name="ThunderboltOperations">
		<restriction base="m:Operations">
			<enumeration value="THUNDERBOLT_FOLD" />
		</restriction>
	</simpleType>
	
	<simpleType name="CrimpFoldOperations">
		<restriction base="m:Operations">
			<enumeration value="INSIDE_CRIMP_FOLD" />
			<enumeration value="OUTSIDE_CRIMP_FOLD" />
		</restriction>
	</simpleType>
	
	<simpleType name="MarkerOperations">
		<restriction base="m:Operations">
			<enumeration value="MARKER" />
		</restriction>
	</simpleType>

	<simpleType name="positiveInteger">
		<annotation>
			<appinfo>
				<jxb:javaType name="Integer" parseMethod="javax.xml.bind.DatatypeConverter.parseInt" printMethod="javax.xml.bind.DatatypeConverter.printInt" />
			</appinfo>
		</annotation>
		<restriction base="integer">
			<minExclusive value="0" />
		</restriction>
	</simpleType>

	<complexType name="Point2D">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.Point2D" />
			</appinfo>
		</annotation>
		<sequence>
			<element name="x" type="double" />
			<element name="y" type="double" />
		</sequence>
	</complexType>

	<complexType name="Line2D">
		<annotation>
			<appinfo>
				<jxb:class implClass="cz.cuni.mff.peckam.java.origamist.model.Line2D" />
			</appinfo>
		</annotation>
		<sequence>
			<element name="start" type="m:Point2D" />
			<element name="end" type="m:Point2D" />
		</sequence>
	</complexType>
</schema>